:root{
    --moveable:absolute;
    --size:40px;
    --full:80%;
    --background-color: #f5f5dc;
    --primary-accent-color: #8b0000;
    --secondary-accent-color: #ffdead;
    --text-color: #333;
    --secondary-text-color: #777;
    --button-color: #8b0000;
    --button-hover-color: #ffdead;
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
body {
    justify-content: center;
    display: flex;
    background-color: var(--background-color);
    height: fit-content;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    overflow: hidden;
    background-color: var(--background-color);
    padding: 10px;
    width: var(--full);
    position: fixed;
    top: 0;
    left: auto;
    margin: 0 auto;
    z-index: 1000;
}

.navlist {
    font-family: "Roboto mono";
    display: grid;
    font-size:25px;
    color: var(--text-color);
    text-decoration: none;
    float: right;
    margin-right: 40px;
}
.home {
    background-color: var(--primary-accent-color);
    color: var(--background-color);
    padding: 28px;
    font-size: 25px;
    margin-left: 55px;
    text-decoration: none;
}
.home:hover{
    color: var(--primary-accent-color);
    font-size:10px;
    transition: 1s;
    padding: 55px;
    overflow: hidden;
}

.navimg{
    width: 50px;
    height: 50px;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr,4fr;
    column-gap: 5px;
    row-gap: 10px;
    margin-top: 80px;
}

.grid-item {
    display: grid;
    padding: 10px;
}

.Portfolio{
    height: 250px;
    border-radius: 50%;
    justify-self: center;
}

.intro {
    font-family: 'Poppins';
    font-size: 60px;
    margin: 0;
    justify-self: center;
}

.name{
    font-family: "Marlin Sans Extra Bold";
    font-size: larger;
    color: var(--primary-accent-color);
}
.shortstory{
    color: var(--secondary-text-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.intro-div{
    display: grid;
   
    justify-self: center;
}
.shortstory-div{
    display: grid;
    max-width: 700px;
}
.container{
    display:grid;
}
.container .btn {
    background-color: var(--button-color);
    color: var(--background-color);
    font-size: 25px;
    width: 270px;
    padding: 8px 0px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    justify-self: center;
    font-family: 'Poppins';
}

.container .btn:hover {
    background-color: var(--button-hover-color);
    color: var(--button-color);
}

.myskill {
    position: absolute;
    margin-top: 1000px;
    background-color: black;
    width: var(--full);
    color: white;
}
.grid-container1 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.column {
    background-color: var(--background-color);
    padding: 20px;
    text-align: center;
    justify-self: center;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Poppins';
    color: var(--primary-accent-color);
}

.description {
    font-weight: bold;
    color: var(--secondary-text-color);
    font-family: 'Open Sans', sans-serif;
}

#cards {
    display: flex;
    padding-top: 150px;
    flex-direction: column;
    width: 80%;
    padding-bottom: 150px;
}

.cards-img{
    width: 45px;
}

.grid-containeR{
    display: grid;
}

.services{
    font-family: 'Poppins';
    font-size: 60px;
    justify-self: center;
    margin-left: 0;
    color: var(--primary-accent-color);
}

.container2 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin-bottom: 150px;
}

.section{
    display: flex;
}

.Title {
    font-weight: 700;
    margin:0 15px;
    font-size: 30px;
    font-family: 'Poppins';
    color: var(--primary-accent-color);
}

.min-vh-100 {
    min-height: 100vh !important;
    display: grid;
}

.row{
    width: 50%;
    justify-self: center;
}

.carousel-control-prev {
    left: 0;
    height: 100px;
    background-color: var(--primary-accent-color);
    margin: 110px 0;
}

.carousel-control-next {
    right: 0;
    height: 100px;
    background-color: var(--primary-accent-color);
    margin: 110px 0;
}

.btn-btn {
    background-color: var(--button-color);
    color: var(--background-color);
    font-size: 25px;
    width: 75px;
    padding: 2px 0px;
    border: none;
    cursor: pointer;
    border-radius: 51px;
    text-align: center;
    justify-self: center;
    font-family: 'Poppins';
    text-decoration-line: none;
}
.modal-header{
    color: #f5f5dc;
    background-color: #333;
}

.mb-3{
    color:#333;
}
.modal-body{
    background-color: var(--background-color);
    
}
.btn-close{

background-color:var(--background-color);
}
.btn-primary{
    background-color:  var(--button-color);
    color: var(--background-color);
    font-size: 25px;
    width: 75px;
    padding: 2px 0px;
    border: none;
    cursor: pointer;
    border-radius: 51px;
    text-align: center;
    justify-self: center;
    font-family: 'Poppins';
    text-decoration-line: none; 
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
}

.footer-content {
    display: flex;
    gap: 20px;
}

.footer-content a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.footer-content a:hover {
    color: var(--text-color);
}

.footer-content a:nth-child(2):hover {
    color:  var(--text-color); 
}
.footer-content a:nth-child(3):hover{
    color:  var(--text-color);
} 
.mywork{
    padding-top: 100px;
    padding-bottom: 150px;
}
.id{
padding-top: 150px;
}